
.cabecalho {
    background: rgb(255,44,44);
    background: radial-gradient(circle, rgba(255,44,44,1) 0%, rgba(231,206,72,1) 100%);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--sombra);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.75rem;
    margin-bottom: 2rem;
}

.cabecalho__logo {
    width: 70px;
}

.cabecalho__lista-navegacao {
    display: flex;
}

.cabecalho__link {
    margin-left: 2rem;
}
